extend ../layout

block content
  a(href='/bicicletas/') Volver al listado de bicicletas
  table.table
    tbody
      tr
        td ID
        td=bici.id
      tr
        td Color
        td=bici.id
      tr
        td Modelo
        td=bici.modelo
      tr
        th Ubicacion
        td=bici.ubicacion

         


